*:focus {
  outline: none;
}

* {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'crystaseanormal';
  src: url("../assets/fonts/crystasea-webfont.woff2") format("woff2"), url("../assets/fonts/crystasea-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'crystaseanormal';
}

p {
  font-family: 'Mulish', sans-serif;
}
